.chat-container {
    height: 25rem;
    min-height: 20rem;
}

.nlu-content {
    font-family: 'Ubuntu', sans-serif;
}

.submit-btn {
    margin-top: 0.5rem;
    border-radius: 1rem;
    width: 5rem;
}

.message-card {
    max-width: 60%;
}
.bg-lightblue{
    background-color:#7CC0FF;
}

.message-scroll {
    height: 20rem;
    overflow-y: scroll;
}